:root {
  --a: #edf2fb;
  --b: #d7e3fc;
  --c: #ccdbfd;
  --d: #c1d3fe;
  --e: #abc4ff;
}

#inputBox {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  max-width: 100%;
}

@media (max-width: 600px) {
  #inputBox {
    flex-direction: column;
  }
}

h1 {
  text-align: center;
}
.subHeading {
  margin-bottom: 20px;
  text-align: center;
}
.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#submit {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  background-color: var(--c);
  color: #ffff;
  border-radius: 24px;
  border-style: none;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
#submit:hover {
  background-color: var(--d);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
#submit:active {
  background-color: var(--e);
}
#editBtn {
  background-color: var(--a);
  padding: 10px 20px;
  border-radius: 8px;
  border-style: none;
  margin-bottom: 10px;
  margin-top: 10px;
}
.balBtn {
  display: flex;
  justify-content: space-evenly;
}
#inputBox {
  display: flex;
  flex-direction: column;
}
.dropdown {
  display: flex;
  padding: 10px;
  margin-top: 5px;
  justify-content: center;
  /* background-color: var(--d); */
}
#tableWrapper {
  width: min(800px, 100%);
  overflow-x: scroll;
  margin: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th,
table td {
  padding: 8px;
  text-align: left;
  min-width: 100px;
  border-bottom: 1px solid #ddd;
}
table td {
  overflow-x: scroll;
}

table th {
  background-color: #f2f2f2;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #e5e5e5;
}

table .delete {
  display: none;
}

table.edit .delete {
  display: block;
}

table td::-webkit-scrollbar {
  width: 0px;
}

table td::-webkit-scrollbar-thumb {
  background-color: transparent;
}

table td::-webkit-scrollbar-thumb {
  background-color: transparent;
}

#tableWrapper::-webkit-scrollbar,
#tableWrapper::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

#tableWrapper::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}
